.home-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 2rem;
}

.username {
  font-size: 1.7rem;
  color: rgb(77, 77, 77);
}

.bio {
  font-size: 1.2rem;
  color: rgb(77, 77, 77);
}

.commentButton {
  margin-top: 1rem;
}

.profile {
  margin-top: 2rem;
  border: rgb(77, 77, 77);
}

.msg-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .home-container {
    display: grid;
    padding: 2.5rem 3rem 2.5rem 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .home-container {
    display: grid;
    padding: 2.5rem 2rem 2.5rem 2rem;
    grid-template-columns: 1fr;
  }
}
